.IngameWarningRoot {
	width: 100%;
	height: 100%;
}
#WarningIngame_ResetMMR {
	width: 1000px;
	flow-children: down;
	background-image: url("file://{resources}/images/custom_game/collection/spin_background.png");
	background-size: 100%;
	box-shadow: black 0px 0px 8px 0px;
	opacity: 0;
}
#WarningIngame_ResetMMR.show {
	opacity: 1;
}
#ResetMmrHeaderRoot {
	width: 100%;
	height: 50px;
	background-image: url("file://{resources}/images/custom_game/loading_screen/quest_header.png");
	background-size: 100%;
}
#ResetMmrHeader {
	align: center center;
	font-family: titleFont;
	color: #abbff6;
	font-weight: semi-bold;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: black 1px 0px 2px 2;
}
#ResetMmrHintRoot {
	width: 100%;
	box-shadow: inset rgba(0, 0, 0, 0.7) -15px 3px 10px -50px;
	padding-top: 5px;
}
#ResetMmrHint {
	color: white;
	align: center center;
	text-align: center;
	font-size: 22px;
	line-height: 32px;
	text-shadow: black 1px 1px 2px 2;
}
#ResetMmrButtonsRoot {
	horizontal-align: center;
	flow-children: right;
	padding-left: -50px;
	margin-top: 20px;
}
.ResetMmrButton {
	width: 150px;
	height: 40px;
	align: center center;
	margin: 0px 0px 15px 0px;
	transition: brightness 0.15s ease-in-out 0s;
	margin-left: 50px;
	background-image: url("file://{images}/custom_game/ability_selection/button_bg_reroll.png");
	background-size: 100%;
	box-shadow: fill black 1px 1px 5px 4;
}
.ResetMmrButton.Blocked {
	saturation: 0;
	wash-color: rgba(0, 0, 0, 0.2);
}
.ResetMmrButton:not(.Blocked):hover {
	brightness: 1.5;
}
.ResetMmrButton:not(.Blocked):active {
	brightness: 2.5;
}
.ResetMmrButton Label {
	font-size: 20px;
	align: center center;
	color: white;
	margin-top: 2px;
	text-shadow: black 1px 1px 2px 2;
}
#ResetMmrCooldownRoot {
	width: 100%;
	visibility: collapse;
}
#ResetMmrCooldownRoot.show {
	visibility: visible;
}
#ResetMmrCooldown {
	align: center center;
	font-size: 25px;
	color: #e40000;
	text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 2px 2;
	margin-top: 10px;
}
