#MapOverlayDotaU_Wrap {
	height: 320px;
	width: 253px;
	vertical-align: bottom;
}
#MapOverlayDotaU_Wrap.dota12v12 {
	width: 245px;
	height: 317px;
}

.HUDFlipped #MapOverlayDotaU_Wrap {
	horizontal-align: right;
}
.MinimapExtraLarge #MapOverlayDotaU_Wrap {
	height: 362px;
	width: 291px;
}
.MinimapExtraLarge #MapOverlayDotaU_Wrap.dota12v12 {
	width: 280px;
}
#MapOverlayImage {
	width: 100%;
	height: 100%;
	background-size: 100%;
}
.overthrow2 #MapOverlayImage {
	background-image: url("file://{resources}/images/custom_game/minimap_overlay_OT.png");
}
.dota12v12 #MapOverlayImage {
	background-image: url("file://{resources}/images/custom_game/minimap_overlay_12v12.png");
}

.HUDFlipped #MapOverlayImage {
	transform: rotateY(180deg);
}
.HUDFlipped .dota12v12 #MapOverlayImage {
	transform: rotateY(0deg);
}
.overthrow2 #MapOverlayText {
	align: center top;
	color: gradient(linear, 0% 0%, 120% 0%, from(#612f0b), to(#b46106));
	font-size: 20px;
	font-family: titleFont;
	font-weight: semi-bold;
	margin-top: 43px;
	text-shadow: black 0px 0px 1px 1;
	margin-right: 7px;
}
.HUDFlipped .overthrow2 #MapOverlayText {
	color: gradient(linear, 0% 0%, 120% 0%, from(#b46106), to(#612f0b));
	margin-right: 0px;
	margin-left: 10px;
}
.MinimapExtraLarge .overthrow2 #MapOverlayText {
	font-size: 22px;
	margin-top: 48px;
	margin-right: 10px;
}
.HUDFlipped.MinimapExtraLarge .overthrow2 #MapOverlayText {
	font-size: 22px;
	margin-right: 0px;
	margin-left: 10px;
}
