.PatreonRoot
{
	width: 100%;
	height: 100%;
	z-index: -1;
}
 #PatreonWindow
{
	width: 730px;
	height: 765px;
 	border-style: solid;
	border-width: 1.5px;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-color: #263238;
	background-size: 100%;
	opacity: 1.2;
 	align: center center;
	flow-children: down;
	margin-top: -40px;
	border-radius: 10px;
	visibility: collapse;
}
 .SupporterEmblem {
	width: 100%;
	height: 100%;
	margin-top: -20px;
}
 .Divider {
	width: 700px;
	height: 4px;
	background-color: gray;
	background-size: 100%;
	margin-top: 240px;
	horizontal-align: center;
	border-radius: 5px;
}
 .FreeBoots {
	width: 100%;
	height: 100%;
	margin-top: -785px;
}
 .Divider2 {
	width: 700px;
	height: 4px;
	background-color: gray;
	background-size: 100%;
	margin-top: 502px;
	horizontal-align: center;
	border-radius: 5px;
}
 .RandomButton {
	width: 100%;
	height: 100%;
	margin-top: -515px;
}
 .PatreonHeader {
	width: 100%;
	height: 35px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f96854 ), to( #f96854 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
}
 .PatreonLabelPanel {
	width: fit-children;
	height: 40px;
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 5px;
}
 .PatreonLabel {
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: 0px;
	text-overflow: clip;
	text-transform: uppercase;
}
.PatreonCloseButton > Label {
	color: white;
	font-size: 24px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
}

.PatreonCloseButtonX {
	horizontal-align: right;
	width: 24px;
	height: 24px;
	background-size: 100%;
	margin: 2px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

.PatreonHeader .PatreonCloseButtonX {
	vertical-align: center;
	margin-right: 5px;
}

.PatreonHeader > .PatreonCloseButton,
#PaymentWindow > .PatreonCloseButton {
	vertical-align: middle;
	horizontal-align: right;
}
#SupporterEmblemImage {
	width: 218px;
	height: 199px;
	box-shadow: #00000044 0px 0px 8px 0px;
	border-radius: 8px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 15px;
}
 .SupporterEmblemTitle {
	color: white;
	horizontal-align: left;
	font-size: 25px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
	margin-top: 25px;
	margin-left: 242px;
	border-radius: 8px;
}
 .SupporterEmblemLabel {
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 60px;
	margin-left: 250px;
}
 .SupporterEmblemEnableDisableLabel {
	pre-transform-scale2d: 1.2;
	margin-top: 133px;
	margin-left: 255px;
}

 #EmblemEnableDisableDropDown {
	margin-top: 128px;
	margin-left: 385px;
	border-color: gray;
}

 .ChooseColourLabel {
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 188px;
	margin-left: 250px;
}
.SelectColourBackground {
	width: 250px;
	height: 50px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	margin-top: 179px;
	margin-left: 383px;
	border-radius: 8px;

}
#ColourMaroon {
	width: 19px;
	height: 19px;
	background-color: #800000;
	margin-top: 183px;
	margin-left: 390px;
	border-radius: 8px;
 }
#ColourBrown {
	width: 19px;
	height: 19px;
	background-color: #9A6324;
	margin-top: 183px;
	margin-left: 412px;
	border-radius: 8px;
 }
#ColourOlive {
	width: 19px;
	height: 19px;
	background-color: #808000;
	margin-top: 183px;
	margin-left: 433px;
	border-radius: 8px;
 }
#ColourTeal {
	width: 19px;
	height: 19px;
	background-color: #469990;
	margin-top: 183px;
	margin-left: 455px;
	border-radius: 8px;
 }
#ColourNavy {
	width: 19px;
	height: 19px;
	background-color: #000075;
	margin-top: 183px;
	margin-left: 476px;
	border-radius: 8px;
 }
#ColourBlack {
	width: 19px;
	height: 19px;
	background-color: #000000;
	margin-top: 183px;
	margin-left: 498px;
	border-radius: 8px;
 }
#ColourRed {
	width: 18px;
	height: 18px;
	background-color: red;
	margin-top: 183px;
	margin-left: 521px;
	border-radius: 8px;
}
#ColourOrange {
	width: 19px;
	height: 19px;
	background-color: #f58231;
	margin-top: 183px;
	margin-left: 543px;
	border-radius: 8px;
 }
#ColourYellow {
	width: 19px;
	height: 19px;
	background-color: #ffe119;
	margin-top: 183px;
	margin-left: 564px;
	border-radius: 8px;
 }
#ColourLime {
	width: 19px;
	height: 19px;
	background-color: #bfef45;
	margin-top: 183px;
	margin-left: 586px;
	border-radius: 8px;
 }
#ColourGreen {
	width: 19px;
	height: 19px;
	background-color: #3cb44b;
	margin-top: 183px;
	margin-left: 607px;
	border-radius: 8px;
 }
#ColourCyan {
	width: 19px;
	height: 19px;
	background-color: #42d4f4;
	margin-top: 205px;
	margin-left: 390px;
	border-radius: 8px;
 }
#ColourBlue  {
	width: 19px;
	height: 19px;
	background-color: #4363d8;
	margin-top: 205px;
	margin-left: 412px;
	border-radius: 8px;
 }
#ColourPurple {
	width: 19px;
	height: 19px;
	background-color: #911eb4;
	margin-top: 205px;
	margin-left: 433px;
	border-radius: 8px;
 }
#ColourMagenta {
	width: 19px;
	height: 19px;
	background-color: #f032e6;
	margin-top: 205px;
	margin-left: 455px;
	border-radius: 8px;
 }
#ColourGrey {
	width: 19px;
	height: 19px;
	background-color: #a9a9a9;
	margin-top: 205px;
	margin-left: 476px;
	border-radius: 8px;
 }
#ColourPink {
	width: 19px;
	height: 19px;
	background-color: #fabebe;
	margin-top: 205px;
	margin-left: 498px;
	border-radius: 8px;
 }
#ColourApricot {
	width: 19px;
	height: 19px;
	background-color: #ffd8b1;
	margin-top: 205px;
	margin-left: 521px;
	border-radius: 8px;
 }
#ColourBeige {
	width: 19px;
	height: 19px;
	background-color: #fffac8;
	margin-top: 205px;
	margin-left: 543px;
	border-radius: 8px;
 }
#ColourMint {
	width: 19px;
	height: 19px;
	background-color: #aaffc3;
	margin-top: 205px;
	margin-left: 564px;
	border-radius: 8px;
 }
#ColourLavender {
	width: 19px;
	height: 19px;
	background-color: #e6beff;
	margin-top: 205px;
	margin-left: 586px;
	border-radius: 8px;
 }
#ColourWhite {
	width: 19px;
	height: 19px;
	background-color: #ffffff;
	margin-top: 205px;
	margin-left: 607px;
	border-radius: 8px;
 }

 .SelecetedColor {
	border-color: #292e2e;
	border-style: solid;
	border-width: 2px;
}

#FreeBootsImage {
	width: 218px;
	height: 199px;
	box-shadow: #00000044 0px 0px 8px 0px;
	border-radius: 8px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 290px;
	margin-left: 15px;
}
 .FreeBootsTitle {
	color: white;
	horizontal-align: left;
	font-size: 25px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
	margin-top: 285px;
	margin-left: 241px;
	border-radius: 8px;
}
 .FreeBootsLabel {
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	margin-top: -3px;
	text-overflow: clip;
	margin-top: 335px;
	margin-left: 250px;
}

 .FreeBootsEnableDisableLabel {
	pre-transform-scale2d: 1.2;
	margin-top: 380px;
	margin-left: 255px;
}
 #FreeBootsEnableDisableDropDown {
	margin-top: 378px;
	margin-left: 385px;
	border-color: gray;
}

#RandomButtonImage {
	width: 218px;
	height: 199px;
	box-shadow: #00000044 0px 0px 8px 0px;
	border-radius: 8px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 266px;
	margin-left: 15px;
}
 .RandomButtonTitle {
	color: white;
	horizontal-align: left;
	font-size: 25px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
	margin-top: 265px;
	margin-left: 241px;
	border-radius: 8px;
}
 .RandomButtonLabel {
	color: white;
	font-size: 22px;
	text-shadow: 2px 2px 2px black;
	margin-top: -3px;
	text-overflow: clip;
	margin-top: 345px;
	margin-left: 250px;
}

.PatreonFeatureLock {
	width: 400px;
	background-color: rgba(53, 48, 48, 0.9);
}

.IsPatron .PatreonFeatureLock {
	visibility: collapse;
}

.PatreonFeatureLock > Image {
	align: center center;
}

.SupporterEmblem .PatreonFeatureLock {
	margin-top: 125px;
	margin-left: 240px;
	height: 110px;
}

.FreeBoots .PatreonFeatureLock {
	margin-top: 370px;
	margin-left: 240px;
	height: 50px;
}

#PatreonFooter {
	width: 730px;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d4d4d ), to( #4d4d4d ) );
	background-image: url("s2r://panorama/images/front_page/ti8_front_bar_psd.vtex");
	background-repeat: no-repeat;
	background-position: left 0px top 0px;
	margin-top: -60px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#PatreonSupportButtons {
	align: center center;
	flow-children: right;
}

.IsPatron #PatreonSupportButtons {
	visibility: collapse;
}

/* TODO: :not doesn't work without root? */
.PatreonRoot:not(.IsPatron) #PatreonSupporterStatus {
	visibility: collapse;
}

#PatreonSupporterStatus {
	height: 100%;
	flow-children: right;
}

#PatreonSupporterMessages {
	margin-left: 6px;
	vertical-align: center;
	flow-children: down;
}

#PatreonSupporterMessages > Label {
	font-size: 20px;
	color: white;
}

.SupportButton {
	width: 218px;
	height: 40px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #558B2F ), to( #7CB342 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	border-style: solid;
	border-width: 0.4px;
	border-radius: 5px;
	margin-left: 15px;
}

.SupportButton:hover {
	box-shadow: #000000ff 0px 0px 16px 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #689F38 ), to( #8BC34A ) );
}

.SupportButton:selected {
	/* wash-color: #00FF0088; */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3E9E39 ), to( #68C24A ) );
}

.SupportButton > Label {
	color: white;
	align: center center;
	font-size: 24px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: shrink;
}

#PatreonButtonPanel {
	margin-bottom: 244px;
	align: left bottom;
}

#PatreonButtonPanel > Panel,
#PatreonButtonPanel > Button,
#PatreonButtonPanel > TextButton,
#PatreonButtonPanel > Image {
	vertical-align: bottom;
}

.MinimapExtraLarge #PatreonButtonPanel {
	margin-bottom: 280px;
}

.HUDFlipped #PatreonButtonPanel {
	horizontal-align: right;
}

#PatreonButton {
	width: 244px;
	height: 50px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f96854 ), to( #f96854 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 240px 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #052d49;
	border-radius: 5px;
}

.MinimapExtraLarge #PatreonButton {
	width: 280px;
}

#PatreonButton:hover {
  box-shadow: #000000ff 0px 0px 16px 0px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #052d49 ), to( #052d49 ) );
}

#PatreonButton Label {
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 5px;
	horizontal-align: center;
	text-overflow: shrink;
}

#PatreonButtonSmallerImage {
	width: 70px;
	height: 60px;
	margin-left: -5px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #052d49 ), to( #052d49 ) );
	background-size: 100%;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: #052d49;
	border-radius: 5px;
}

 #PatreonButtonSmallerImage:hover
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #074570 ), to( #074570 ) );
}

#VOIcon
{
	height: 60px;
	width: 60px;
	margin-bottom: 60px;
}

.HUDFlipped #VOIcon {
	horizontal-align: right;
}

#PaymentWindow {
	width: 100%;
	height: 100%;
}

#PaymentWindowContent {
	align: center center;
	margin-bottom: 110px;
	width: 960px;
	flow-children: down;
	background-color: #444;
	border-radius: 3px;
	padding-bottom: 10px;

}

#PaymentWindowBody,
#PaymentWindowLoader,
#PaymentWindowError {
	width: 100%;
	height: 575px;
	margin-bottom: 15px;
}

#PaymentWindowBody > HTML {
	width: 100%;
	height: 100%;
}

#PaymentWindowLoader > Panel {
	align: center center;
}

#PaymentWindowErrorMessage {
	align: center center;
	text-align: center;
	color: white;
	font-size: 24px;
}

#PaymentWindowPaymentKinds,
#PaymentWindowProviders {
	flow-children: right;
	horizontal-align: center;
}

#PaymentWindowPaymentKinds > RadioButton,
#PaymentWindowProviders > RadioButton {
	margin: 0 5px;
}

#PaymentWindowPaymentKinds {
	margin-top: 5px;
}

#PaymentWindowProviders > RadioButton > .RadioBox {
	visibility: collapse;
}

#PaymentWindowProviders > RadioButton > Image {
	height: 60px;
	width: 157px;
	padding: 4px;
	background-color: white;
	border-radius: 8px;
	border: 3px solid transparent;
}

#PaymentWindowProviders > RadioButton:selected > Image {
	border: 3px solid rgb(0, 217, 255);
}

#NewMethodsAnnouncement {
	flow-children: right;
	margin-left: 70px;
	margin-bottom: 10px;
}

#NewMethodsAnnouncement > AnimatedImageStrip {
	width: height-percentage(100%);
	height: 90px;
	margin-left: -15px;
	margin-right: -10px;
}

#NewMethodsAnnouncement > .PatreonCloseButton {
	margin-top: 28px;
	margin-left: -10px;
}

#NewMethodsAnnouncementText {
	width: 235px;
	flow-children: down;
}

#NewMethodsAnnouncementText > Label {
	width: 100%;
	font-size: 24px;
	white-space: nowrap;
	text-overflow: shrink;
	color: white;
}

#NewMethodsAnnouncementImages {
	margin-top: 5px;
	flow-children: right;
}

#NewMethodsAnnouncementImages > Image {
	background-color: white;
	width: 100px;
	height: 40px;
	margin: 0 7px;
	border-radius: 8px;
	padding: 2px;
}

#NewMethodsAnnouncementImages > Image:hover {
	pre-transform-scale2d: 0.98;
}

#NewMethodsAnnouncementImages > Image:active {
	pre-transform-scale2d: 1.02;
}
