.PatreonRoot
{
	width: 100%;
	height: 100%;
	z-index: -1;
}

.PatreonPerk {
	width: 100%;
	flow-children: right;
}

#PatreonPerkImage {
	width: 120px;
	height: 90px;
	box-shadow: #00000044 0px 0px 8px 0px;
	border-radius: 8px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
}

#PatreonPerkRightColumn {
	width: 100%;
	height: 100%;
	flow-children: down;
	margin-left: 10px;
}

#PatreonPerkTitle {
	width: 100%;
	color: white;
	font-size: 22px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
	border-radius: 8px;
}

#PatreonPerkAccess {
	width: 100%;
	color: rgba( 222, 222, 222, 0.9 );
	font-size: 18px;
}

#PatreonPerkAccess.Available {
	color: #7CB342;
}

#PatreonPerkAdditional {
	width: 100%;
	height: 100%;
}

#PateonPerkDescription {
	width: 100%;
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 0px;
}

#PatreonWindow
{
	width: 730px;
	flow-children: down;
 	border-style: solid;
	border-width: 1.5px;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-color: #263238;
	background-size: 100%;
	opacity: 1.2;
 	align: center center;
	border-radius: 10px;
	visibility: collapse;
}

#PatreonPerksContainer {
	padding: 8px;
	width: 100%;
	flow-children: down;
}

#PatreonFooter {
	vertical-align: bottom;
	width: 100%;
	height: 75px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d4d4d ), to( #4d4d4d ) );
	background-image: url("s2r://panorama/images/front_page/ti8_front_bar_psd.vtex");
	background-repeat: no-repeat;
	flow-children: down;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.PatreonText {
	font-size: 20px;
	color: white;
	text-align: center;
	horizontal-align: center;
}

#IsNotPatreonText {
	horizontal-align: center;
	max-width: 100%;
}

#PatreonSupporter {
	horizontal-align: center;
	flow-children: right;
	margin-top: 7px;
}

#PatreonSupporterText {
	vertical-align: center;
}

#PatreonSupporterHigh {
	margin-top: 12px;
}

.Divider {
	width: 100%;
	height: 4px;
	background-color: gray;
	background-size: 100%;
	horizontal-align: center;
	border-radius: 5px;
	margin: 7px 0px 7px 0px;
}

.PatreonHeader {
	width: 100%;
	height: 35px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f96854 ), to( #f96854 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
}

.PatreonLabelPanel {
	width: fit-children;
	height: 40px;
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 5px;
}
 .PatreonLabel {
	vertical-align: center;
	horizontal-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: 0px;
	text-overflow: clip;
	text-transform: uppercase;
}
.PatreonCloseButton > Label {
	color: white;
	font-size: 24px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
}

.PatreonCloseButtonX {
	horizontal-align: right;
	width: 24px;
	height: 24px;
	background-size: 100%;
	margin: 2px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

.PatreonHeader .PatreonCloseButtonX {
	vertical-align: center;
	margin-right: 5px;
}

.PatreonHeader > .PatreonCloseButton,
#PaymentWindow > .PatreonCloseButton {
	vertical-align: middle;
	horizontal-align: right;
}

.PatreonFeatureLock {
	width: 400px;
	background-color: rgba(53, 48, 48, 0.9);
}

.IsPatron .PatreonFeatureLock {
	visibility: collapse;
}

.PatreonFeatureLock > Image {
	align: center center;
}

.SupporterEmblem .PatreonFeatureLock {
	margin-top: 125px;
	margin-left: 240px;
	height: 110px;
}
#PatreonSupportButtons {
	align: center center;
	flow-children: right;
}

.IsPatron #PatreonSupportButtons {
	visibility: collapse;
}

/* TODO: :not doesn't work without root? */
.PatreonRoot:not(.IsPatron) #PatreonSupporterStatus {
	visibility: collapse;
}

#PatreonSupporterStatus {
	height: 100%;
	flow-children: right;
}

#PatreonSupporterMessages {
	margin-left: 6px;
	vertical-align: center;
	flow-children: down;
}

#PatreonSupporterMessages > Label {
	font-size: 20px;
	color: white;
}

.SupportButton {
	width: 218px;
	height: 40px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #558B2F ), to( #7CB342 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	border-style: solid;
	border-width: 0.4px;
	border-radius: 5px;
	margin-left: 15px;
}

.SupportButton:hover {
	box-shadow: #000000ff 0px 0px 16px 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #689F38 ), to( #8BC34A ) );
}

.SupportButton:selected {
	/* wash-color: #00FF0088; */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3E9E39 ), to( #68C24A ) );
}

.SupportButton > Label {
	color: white;
	align: center center;
	font-size: 24px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: shrink;
}

#PatreonButtonPanel {
	margin-bottom: 244px;
	align: left bottom;
}

#PatreonButtonPanel > Panel,
#PatreonButtonPanel > Button,
#PatreonButtonPanel > TextButton,
#PatreonButtonPanel > Image {
	vertical-align: bottom;
}

.MinimapExtraLarge #PatreonButtonPanel {
	margin-bottom: 280px;
}

.HUDFlipped #PatreonButtonPanel {
	horizontal-align: right;
}

#PatreonButton {
	width: 244px;
	height: 50px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f96854 ), to( #f96854 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 240px 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #052d49;
	border-radius: 5px;
}

.MinimapExtraLarge #PatreonButton {
	width: 280px;
}

#PatreonButton:hover {
  box-shadow: #000000ff 0px 0px 16px 0px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #052d49 ), to( #052d49 ) );
}

#PatreonButton Label {
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 5px;
	horizontal-align: center;
	text-overflow: shrink;
}

#PatreonButtonSmallerImage {
	width: 70px;
	height: 60px;
	margin-left: -5px;
	padding: 4px 12px 4px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #052d49 ), to( #052d49 ) );
	background-size: 100%;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: #052d49;
	border-radius: 5px;
}

 #PatreonButtonSmallerImage:hover
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #074570 ), to( #074570 ) );
}

#VOIcon
{
	height: 60px;
	width: 60px;
	margin-bottom: 60px;
}

.HUDFlipped #VOIcon {
	horizontal-align: right;
}

#PaymentWindow {
	width: 100%;
	height: 100%;
}

#PaymentWindowContent {
	align: center center;
	margin-bottom: 110px;
	width: 960px;
	flow-children: down;
	background-color: #444;
	border-radius: 3px;
	padding-bottom: 10px;

}

#PaymentWindowBody,
#PaymentWindowLoader,
#PaymentWindowError {
	width: 100%;
	height: 575px;
	margin-bottom: 15px;
}

#PaymentWindowBody > HTML {
	width: 100%;
	height: 100%;
}

#PaymentWindowLoader > Panel {
	align: center center;
}

#PaymentWindowErrorMessage {
	align: center center;
	text-align: center;
	color: white;
	font-size: 24px;
}

#PaymentWindowPaymentKinds,
#PaymentWindowProviders {
	flow-children: right;
	horizontal-align: center;
}

#PaymentWindowUserSelectorContainer {
	height: 100%;
	flow-children: down;
}

#PaymentWindowDropdownLabel {
	align: center center;
	text-align: center;
	color: white;
	font-size: 18px;
}

#PaymentWindowAvatar {
	margin-left: 5px;
	height: 60px;
	width: 60px;
	border-radius: 4px;
	border: 1px solid #D8D8D8FF;
}

#PaymentWindowPaymentKinds > RadioButton,
#PaymentWindowProviders > RadioButton {
	margin: 0 5px;
}

#PaymentWindowPaymentKinds {
	margin-top: 5px;
}

#PaymentWindowProviders > RadioButton > .RadioBox {
	visibility: collapse;
}

#PaymentWindowProviders > RadioButton > Image {
	height: 60px;
	width: 157px;
	padding: 4px;
	background-color: white;
	border-radius: 8px;
	border: 3px solid transparent;
}

#PaymentWindowProviders > RadioButton:selected > Image {
	border: 3px solid rgb(0, 217, 255);
}

#NewMethodsAnnouncement {
	margin-left: 70px;
	margin-bottom: 0px;
}

#NewMethodsAnnouncementImage {
	width: 200px;
	height: 90px;
	margin-bottom: 70px;
}

#NewMethodsAnnouncement > .PatreonCloseButton {
	margin-top: 28px;
	margin-left: -10px;
}

#NewMethodsAnnouncementText {
	vertical-align: bottom;
	width: 235px;
	flow-children: down;
}

#NewMethodsAnnouncementText > Label {
	width: 100%;
	font-size: 24px;
	white-space: nowrap;
	text-overflow: shrink;
	color: white;
}

#NewMethodsAnnouncementImages {
	margin-top: 5px;
	flow-children: right;
}

#NewMethodsAnnouncementImages > Image {
	background-color: white;
	width: 100px;
	height: 40px;
	margin: 0 7px;
	border-radius: 8px;
	padding: 2px;
}

#NewMethodsAnnouncementImages > Image:hover {
	pre-transform-scale2d: 0.98;
}

#NewMethodsAnnouncementImages > Image:active {
	pre-transform-scale2d: 1.02;
}

#ClosePatreonButton {
	background-color: rgb(66, 66, 66);
	horizontal-align: right;
	width: 16px;
	height: 16px;
	background-size: 100%;
	margin-bottom: 42px;
	margin-right: 2px;
	border-radius: 1px;
	border-color: rgb(79, 79, 79);
	border-style: solid;
	border-width: 1px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

#CloseVOIconButton {
	background-color: rgb(66, 66, 66);
	horizontal-align: right;
	width: 16px;
	height: 16px;
	background-size: 100%;
	margin-bottom: 103px;
	margin-right: 5px;
	border-radius: 1px;
	border-color: rgb(79, 79, 79);
	border-style: solid;
	border-width: 1px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}