.HeroSelectionOverlayRoot
{
	width: 100%;
	height: 100%;
}

#PlayerStats
{
	vertical-align: bottom;
	margin-left: 450px;
	margin-bottom: 150px;
	flow-children: down;
}

#PlayerStatsTitle
{
	text-align: center;
	color: white;
}

.PlayerStatsLine
{
	flow-children: right;
}
