.PatreonBonusButton:not(.IsPatron) > Label,
.PatreonBonusButton:not(.IsPatron) > .TickBox
{
	animation-name: patreon-button-animation;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	font-weight: bold;
	color: #333333;
}

.PatreonBonusButton:not(.IsPatron) > Label
{
	animation-name: patreon-button-animation;
	color: #333333;
}

@keyframes 'patreon-button-animation' {
	0% { color: #333333; }
	50% { color: orange; }
	100% { color: #333333; }
}

.PatreonBonusButton:not(.IsPatron) > .TickBox
{
	animation-name: patreon-button-tick-animation;
}

@keyframes 'patreon-button-tick-animation' {
	0% { background-color: black; }
	10% { background-color: black; }
	50% { background-color: #d1a301; }
	90% { background-color: black; }
	100% { background-color: black; }
}
