.PatreonGamePerkRoot {
	width: 100%;
	height: 100%;
	z-index: -1;
}

#PatreonGamePerkButtonPanel {
	width: 38px;
	height: 38px;
	border-radius: 100px;
	margin-bottom: 112px;
	margin-left: 245px;
	align: left bottom;
}
.HUDFlipped #PatreonGamePerkButtonPanel {
	align: right bottom;
	margin-left: 0px;
	margin-right: 247px;
}
.MinimapExtraLarge #PatreonGamePerkButtonPanel {
	margin-left: 282px;
}

.HUDFlipped.MinimapExtraLarge #PatreonGamePerkButtonPanel {
	margin-right: 283px;
}

#PatreonGamePerkButtonOption {
	width: 52px;
	height: 60px;
	margin-bottom: 9.25%;
	margin-left: 243px;
	align: left bottom;
}

.HUDFlipped #PatreonGamePerkButtonOption {
	transform: ScaleX(-1);
	align: right bottom;
	margin-left: 0px;
	margin-right: 243px;
}

.MinimapExtraLarge #PatreonGamePerkButtonOption {
	margin-left: 280px;
}

.HUDFlipped.MinimapExtraLarge #PatreonGamePerkButtonOption {
	margin-right: 280px;
}

#PatreonsGamePerkMenu {
	width: 1275px;
	height: 550px;
	margin-bottom: 25%;
	align: center bottom;
	flow-children: down;
	visibility: collapse;
	box-shadow: black 0px 0px 10px 0px;
	background-image: url("file://{resources}/images/custom_game/collection/spin_background.png");
	background-size: 100%;
}

.PatreonsGamePerkMenuHeadGrid {
	horizontal-align: center;
	width: 100%;
	height: 40px;
	background-image: url("file://{resources}/images/custom_game/loading_screen/quest_header.png");
	background-size: 100%;
}
.PatreonsGamePerkMenuHeadText {
	align: center center;
	font-size: 25px;
	color: #98aed6;
	font-weight: semi-bold;
	font-family: titleFont;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px 3 #000000ff;
}
#PerksGrid {
	width: 100%;
	box-shadow: inset rgba(0, 0, 0, 0.85) -15px 6px 10px -50px;
}
#PatreonsGamePerksTierList {
	width: 100%;
	padding-top: 7px;
	flow-children: right;
	overflow: squish scroll;
	horizontal-align: center;
	box-shadow: inset rgba(0, 0, 0, 0.75) 0px -50px 14px -15px;
}

.GamePerk {
	background-image: url("file://{resources}/images/custom_game/loading_screen/patchnotes_background.png");
	background-size: 100%;
	margin-top: 10px;
	margin-left: 9px;
	width: 120px;
	height: 127px;
	flow-children: down;
	border-radius: 10px;
	box-shadow: inset #000000 15px -1px 10px 10px;
}

#GamePerkImage {
	margin-top: 5px;
	width: 60px;
	height: 60px;
	horizontal-align: center;
	border-radius: 10%;
}

#GamePerkText {
	width: 120px;
	horizontal-align: center;
	vertical-align: center;
	color: rgb(109, 163, 111);
	font-size: 16px;
	text-overflow: clip;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -2px;
	text-shadow: 1px -1px 2px 3 #000000ff;
}

.GamePerkTextNotAvailable {
	color: rgb(122, 122, 122);
}

.GamePerkImageNotAvailable {
	saturation: 0;
	brightness: 0.75;
}

.GamePerkImageHover:hover {
	brightness: 1.3;
	pre-transform-scale2d: 1.05;
}

#ClosePatreonsPerks {
	width: 30px;
	height: 30px;
	align: center bottom;
	wash-color: #99afd6;
	background-size: 22px 22px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	margin-bottom: 73%;
	margin-left: 1240px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	visibility: collapse;
	transition: brightness 0.2s ease-in-out 0s;
}
#ClosePatreonsPerks:hover {
	brightness: 1.5;
}
#SetPatreonGamePerkButton {
	width: 38px;
	height: 38px;
	margin-right: 1px;
	horizontal-align: center;
	vertical-align: middle;
}

.PatreonGamePerksTier {
	margin-left: 17px;
	width: 400px;
	height: fit-children;
	flow-children: down;
	background-color: rgba(0, 0, 0, 0.75);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.PatreonGamePerksTierHeader {
	background-color: rgb(46, 51, 64);
	width: 100%;
	height: 38px;
	horizontal-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.PatreonGamePerksTierHeaderTextMain {
	align: center center;
	margin-top: 1px;
	font-size: 21px;
	text-shadow: 1px -1px 2px 3 #000000ff;
	text-transform: uppercase;
}

.PatreonGamePerksTierHeaderTextTier0 {
	color: #bbcdff;
}

.PatreonGamePerksTierHeaderTextTier1 {
	color: rgb(215, 130, 23);
}

.PatreonGamePerksTierHeaderTextTier2 {
	color: rgb(219, 185, 14);
}

.PerkPanelListForTier {
	horizontal-align: center;
	border-radius: 2px;
	border-width: 2px;
	margin-bottom: 4px;
	border-style: solid;
	width: 400px;
	height: fit-children;
	flow-children: right-wrap;
}
#ScrollThumb {
	background-color: #7588a5;
}
#VerticalScrollBar {
	width: 7px;
}
