.PatreonGamePerkRoot
{
	width: 100%;
	height: 100%;
	z-index: -1;
}

#PatreonGamePerkButtonPanel {
	width: 38px;
	height: 38px;
	border-radius: 100px;
	margin-bottom: 112px;
	margin-left: 245px;
	align: left bottom;
}

.MinimapExtraLarge #PatreonGamePerkButtonPanel {
	margin-left: 282px;
}

#PatreonGamePerkButtonOption {
	width: 52px;
	height: 60px;
	margin-bottom: 9.25%;
	margin-left: 243px;
	align: left bottom;
}

.MinimapExtraLarge #PatreonGamePerkButtonOption {
	margin-left: 280px;
}

#PatreonsGamePerkMenu {
	width: 1275px;
	height: 550px;
	margin-bottom: 25%;
	align: center bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404040 ), to( #000000 ) );
	flow-children: down;
	visibility: collapse;
	border-radius: 6px;
	border-width: 4px;
	border-style: solid;
	border-color: rgb(20, 20, 20);
}

.PatreonsGamePerkMenuHeadGrid {
	background-color: rgb(46, 51, 64);
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(117, 117, 117);
	horizontal-align: center;
	margin-bottom: 8px;
	margin-top: 4px;
	width: 1236px;
	height: 30px;
}
.PatreonsGamePerkMenuHeadText {
	horizontal-align: center;
	vertical-align: center;
	font-size: 20px;
	color: rgb(232, 232, 63);
	font-weight: bold;
	text-shadow: 1px -1px 2px 3.0 #000000FF;
}

#PatreonsGamePerksTierList {
	width: 1275px;
	flow-children: right;
	overflow: squish scroll;
	horizontal-align: center;
}

.GamePerkForPatreon {
	background-color: rgb(43, 43, 43);
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(80,80,80);
	margin-top: 10px;
	margin-left: 8.8px;
	width: 120px;
	height: 127px;
	flow-children: down;
}

.GamePerkImage {
	margin-top: 5px;
	width: 60px;
	height: 60px;
	horizontal-align: center;
	border-radius: 10%;
}

.GamePerkText {
	width: 120px;
	horizontal-align: center;
	vertical-align: center;
	color: rgb(109, 163, 111);
	font-size: 15.5px;
	text-overflow: clip;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -2px;
	text-shadow: 1px -1px 2px 3.0 #000000FF;
}

.GamePerkTextNotAvailable {
	color: rgb(122, 122, 122);
}

.GamePerkImageNotAvailable {
	saturation: 0.0;
	brightness: 0.75;
}

.GamePerkImageHover:hover {
	box-shadow: inset 0 0 40px rgba(220, 220, 20, 0.5);
	brightness: 1.5;
	saturation: 0.9;
}

#ClosePatreonsPerks{
	width: 30px;
	height: 30px;
	align: center bottom;
	background-size: 22px 22px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	margin-bottom: 74.2%;
	margin-left: 1269px;
	background-color: rgb(40, 40, 40);
	border-radius: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(166, 23, 23);
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	visibility: collapse;
}
#ClosePatreonsPerks:hover{
	box-shadow: 0 0 4px rgb(204, 41, 41);
}
#SetPatreonGamePerkButton {
	width: 38px;
	height: 38px;
	margin-right: 1px;
	horizontal-align: center;
	vertical-align: middle;
}

.PatreonGamePerksTier {
	margin-left: 17px;
	margin-bottom: 5px;
	width: 400px;
	height: fit-children;
	flow-children: down;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252525 ), to( #101010 ) );
}

.PatreonGamePerksTierHeader {
	background-color: rgb(46, 51, 64);
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(80, 80, 80);
	margin-top: 5px;
	margin-bottom: -3px;
	width: 378px;
	height: 38px;
	horizontal-align: center;
}

.PatreonGamePerksTierHeaderTextMain {
	horizontal-align: center;
	vertical-align: center;
	font-size: 21px;
	text-shadow: 1px -1px 2px 3.0 #000000FF;
}

.PatreonGamePerksTierHeaderTextTier0 {
	color: rgb(140, 140, 140);
}

.PatreonGamePerksTierHeaderTextTier1 {
	color: rgb(171, 171, 171);
}

.PatreonGamePerksTierHeaderTextTier2 {
	color: rgb(200, 216, 219);
}

.PerkPanelListForTier {
	horizontal-align: center;
	border-radius: 2px;
	border-width: 2px;
	margin-bottom: 4px;
	border-style: solid;
	width: 400px;
	height: fit-children;
	flow-children: right-wrap;
}

