#CollectionTopButton {
	background-image: url("file://{resources}/images/custom_game/inventory.png");
	background-size: 38px 38px;
	tooltip-position: bottom;
	visibility: collapse;
	wash-color: #cdf;
	margin-left: -40px;
	margin-top: 40px;
}

#FeedbackButton {
	background-size: 38px 38px;
	background-image: url("file://{resources}/images/custom_game/tuant.png");
	tooltip-position: left;
	wash-color: #cdf;
	z-index: -10;
	margin-top: 80px;
	margin-left: -40px;
}

#MasteryButtonTooltip,
#MapPatreonButtonGrid,
#ItemType_Masteries,
#ItemType_KillEffects,
#ItemType_Barrages,
.PlayerFortuneWrap,
#ShopFortuneButtonRoot,
.OfferFortune {
	visibility: collapse;
}
