.MegaDotaRoot
{
	background-color: black;
}

#mega_bg
{
	horizontal-align: center;
	vertical-align: center;
}
.NextTip
{
    vertical-align: center;
    width: 23px;
    height: 100%;
    wash-color:white;
	background-size: 20px 20px;
    horizontal-align:right;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-color: rgba(0,0,0,0.5);
	opacity: 0.6;
}
#PrevTip
{
    vertical-align: center;
    width: 24px;
    height: 100%;
    wash-color: #ffffff;
	background-size: 20px 20px;
    horizontal-align:right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
	background-color: rgba(0,0,0,0.52);
	opacity: 0.85;
}

#ActivateBotsInToolsModeRoot{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #131617 ) );
	box-shadow: #868686a8 -2px -2px 4px 4px;
	height: 40px;
	vertical-align: center;
	margin-top: 140px;
	margin-left: 280px;
	flow-children: right;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	visibility: collapse;
}
#ActivateBotsInToolsModeButton,
#ActivateBotsInToolsModeText{
	vertical-align: center;
}
#ActivateBotsInToolsModeText{
	margin-left: 5px;
	color: rgb(220,220,220);
}

#LoadingScreenTipsPanel {
    width: 600px;
    height: 100px;
	margin-bottom: 600px;
    margin-left: 92px;
    align: left center;
    flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(rgba(33, 43, 45, 0.15)), to(rgba(15, 17, 17, 0.38)) );
}

#LoadingScreenTipsPanel.darkened {
    brightness: 0.2;
    blur: gaussian( 2.5 );
}

#LoadingScreenTipsPanel.hidden {
	visibility:collapse;
}

#LoadingTipImage {
    width: 100px;
    height: 100px;
    background-color: #000000;
	vertical-align: center;
	margin-left: 3px;
    border: 2px solid rgba(255, 255, 255, 0.56);
}

#LoadingTipText {
	width: 100%;
	color: #ececec;
	vertical-align: center;
	font-size: 18px;
	line-height: 21px;
	text-overflow: shrink;
	text-align: center;
	font-weight: lighter;
}
.AspectRatio16x10 #LoadingTipText
{
	text-overflow: clip;
	font-size: 15px;
}
.AspectRatio4x3 #LoadingTipText
{
	text-overflow: clip;
	font-size: 14px;
}
#LoadingTipTextWrap{
	height: 100%;
	width: 74%;
}

.FormLinkContainer {
	margin-top: 570px;
	margin-left: 95px;
	width: 30%;
	border: 2px solid #32383677;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d2e), to(#131617));
	flow-children: down;
}

.LinkHeader {
	width: 90%;
	height: 45px;
	font-size: 45px;
	font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
	font-weight: bold;
	horizontal-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
	text-align: center;
	color: #e2e2e2;
}

.LinkButton {
	width: 80%;
	horizontal-align: center;
	padding: 5px;
	margin: 5px;

	background-color: gradient(linear, 0% 0%, 0% 100%, from(#5aa15e), to(#87d69533));
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 328px 50px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: background-color, box-shadow;
	transition-duration: 0.2s;
}

.LinkButton:hover {
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#5aa15e), to(#87d695));
	box-shadow: fill #87d69533 -4px -4px 9px 10px;
}

.LinkButtonText {
	color: white;
	font-weight: bold;
	horizontal-align: center;
	font-size: 24px;
}
