.MegaDotaRoot
{
	background-color: black;
}

#mega_bg
{
	horizontal-align: center;
	vertical-align: center;
}
.NextTip
{
    vertical-align: center;
    width: 23px;
    height: 100%;
    wash-color:white;
	background-size: 20px 20px;
    horizontal-align:right;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-color: rgba(0,0,0,0.4);
}
#PrevTip
{
    vertical-align: center;
    width: 24px;
    height: 100%;
    wash-color:white;
	background-size: 20px 20px;
    horizontal-align:right;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
	background-color: rgba(0,0,0,0.52);
}
#ActivateBotsInToolsModeRoot{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #131617 ) );
	box-shadow: #868686a8 -2px -2px 4px 4px;
	height: 40px;
	vertical-align: center;
	margin-top: 140px;
	margin-left: 280px;
	flow-children: right;
	padding-right: 7px;
	padding-left: 7px;
	border-radius: 5px;
	visibility: collapse;
}
#ActivateBotsInToolsModeButton,
#ActivateBotsInToolsModeText{
	vertical-align: center;
}
#ActivateBotsInToolsModeText{
	margin-left: 5px;
	color: rgb(220,220,220);
}

#LoadingScreenTipsPanel {
    width: 600px;
    height: 125px;
	margin-bottom: 60px;
    margin-left: 150px;
    horizontal-align: left;
	vertical-align: center;
    flow-children: right;
	border: 2px solid #32383677;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #131617 ) );
	box-shadow: #868686a8 -2px -2px 4px 4px;
}

#LoadingScreenTipsPanel.darkened {
    brightness: 0.2;
    blur: gaussian( 2.5 );
}

#LoadingScreenTipsPanel.hidden {
	visibility:collapse;
}

#LoadingScreenTipsPanel Label {
	height: 100%;
	width: 69%;
    margin: 6px;
    color: #FFFFFF;
    vertical-align: center;
    font-size: 21px;
    line-height: 21px;
    text-overflow: shrink;
}

#LoadingScreenTipsPanel Image {
    width: height-percentage(100%);
    height: 100%;
    margin: 4px;
    border:1px solid #000000;
    border-radius: 5px;
}

#LoadingTipImage {
    width: 100px;
    height: 125px;
    background-color: #000000;

    border:1px solid #000000;
    border-radius: 5px;
}

#LoadingTipText {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}
