.Hud {
	z-index: 4;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 145px;
	margin-right: 118px;
	flow-children: right;
}

.ButtonAbility {
	width: 60px;
	height: 60px;
	margin-right: 6px;
}

#Image {
	height: 100%;
	max-width: 100%;
}

#Cooldown {
	width: 100%;
	height: 100%;
}

#CooldownBackground {/*
	width: 100%;
	height: 100%;
	background-color: rgba( 15, 15, 15, 0.7 );*/
}

#CooldownText {
	vertical-align: bottom;
	color: white;
	text-align: center;
	padding: 0px 2px;
	text-shadow: 2px 2px 4px 2 black;
	font-size: 16px;
	color: #999;
}