.Hud {
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 145px;
	margin-left: 364px;
}

#HighFive {
	width: 60px;
	height: 60px;
}

#HighFiveImage {
	height: 100%;
	max-width: 100%;
}

#Cooldown {
	width: 100%;
	height: 100%;
}

#CooldownBackground {
	/*width: 100%;
	height: 100%;
	background-color: rgba( 15, 15, 15, 0.7 );*/
}

#CooldownText {
	vertical-align: bottom;
	color: white;
	text-align: center;
	padding: 0px 2px;
	text-shadow: 2px 2px 4px 2 black;
	font-size: 16px;
	color: #999;
}

#HighFiveButton {
	vertical-align: bottom;
	width: 100%;
	height: 50%;
	background-color: #212726;
	box-shadow: fill #000000dd 0px 0px 2px 2px;
	border: 1px solid black;
}